<template name="geoform">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Location" name="location">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Client" name="client">
      </label>
      <label class="item item-input">
        <textarea placeholder="Notes" name="notes"></textarea>
      </label>
      <button class="button button-block button-dark" type="submit">
        Add location
      </button>
    </div>
  </ion-content>
</template>
