<template name="currentLocation">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Current Location</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <!-- display current location -->
      <div id="lat">
        <p>Latitude: {{location.lat}}</p>
      </div>
      <div id="long">
        <p>Longitude: {{location.lng}}</p>
      </div>
      <div id="map">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location.lat}},{{location.lng}}&zoom=13&size=300x300&sensor=false" />
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
